@mixin devices($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tiny {    
    @media screen and (max-width: 800px) {
      @content;
    }
  }
  
}

.hero{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
    @include devices(tiny){
        height: 30vh;
    }
    
    .details{
        width: 30%;
        height: 100vh;
        padding: auto;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        color: #D1D5DB;
        margin-left: 5%;
        padding-top: auto;
        padding-bottom: auto;
        
        @include devices(tiny){
            
            width: 40%;
            height: 30vh;
        }

        .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 1.5rem;
        margin: 0;

        @include devices(tiny){
            font-size: 0.9rem;
            
        }
        
        }

        .ratings{
            justify-content: space-between;
            display: flex;
            width: 100%;
            margin-top: 2vh;
            margin-bottom: 2vh;

            @include devices(tiny){
                display: none;
            }
    
            .imdb, .tomato{
                display: flex;
                margin: auto;
                
                #Capa_1{
                    margin-right: 10px;
                    height: 15px;
                    width: 15px;
                }
                .votes{
                    margin: auto;
                    font-size: 0.7rem;
                }
            }
            .imdb{
                margin-left: 0;
    
                .popularity{
                    margin: auto;
                    font-size: 0.7rem;
                }
                .imdb-logo{
                    margin-right: 10px;
                    height: 3vh;
                }
            }
            
        }
        
        .overview{
            margin-bottom: 3vh;
            font-size: 0.9rem;

            @include devices(tiny){
                display: none;
            }
        }
        .watch-now{
            background-color: #BE123C;
            border: none;
            border-radius: 5px;
            color: #D1D5DB;
            display: flex;
            padding: auto;
            height: 5vh;
            width: 48%;

            @include devices(tiny){
                width: 50%;
                height: 2vh;
                margin-top: 1vh;
            }

            &:hover{
                color: #BE123C;
                background-color: #D1D5DB;
            }

            p{
                margin: auto;
                font-size: 0.6rem;
                margin-left: 0;

                @include devices(tiny){
                    font-size: 0.4rem;
                    margin: auto;
                }
            }
            .play{
                margin: auto;

                .play:hover{
                    fill: #BE123C;
                    stroke: #BE123C;
                }
                @include devices(tiny){
                    display: none;
                }
            }
        }
    }    

    
}