.homepage{
    
    .feature{
        width: 84%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        font-size: 0.8rem;
        

        p{
            color: #BE123C;
            cursor: pointer;
        }
    }
}